# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118

torch
torchvision
torchaudio
ultralytics
opencv-python
supervision

fastapi
uvicorn
python-multipart

numpy
pandas
pydantic

faiss-cpu
sentence-transformers
langchain
langchain-community

groq

matplotlib
tqdm
python-dotenv
loguru
